@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager



<ul class="navbar-nav">
	@if (SignInManager.IsSignedIn(User))
	{
	<li class="nav-item dropdown">
		<a class="nav-link text-dark dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<img class="user-avatar-img-small" src="@UserManager.GetUserAsync(User).Result.ProfilePhotoUrl" alt="Avatar of @User.Identity.Name">
			@UserManager.GetUserAsync(User).Result.NickName
		</a>
		<div class="dropdown-menu" aria-labelledby="navbarDropdown">
			<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">欢迎，@UserManager.GetUserAsync(User).Result.NickName!</a>
			<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">个人资料</a>
			<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Email" title="Email">邮箱管理</a>
			<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/ChangePassword" title="Password">密码管理</a>
			<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/StudentIdentity" title="SI">认证管理</a>
			<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Email" title="Email">邮箱管理</a>
			<a class="nav-link text-dark" asp-area="ControlPanel" asp-page="/Manage/Role/Index" title="manage">role index</a>
			<a class="nav-link text-dark" asp-area="ControlPanel" asp-page="/Manage/Index" title="manage">manage index</a>
			<form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
				<button type="submit" class="nav-link btn btn-link text-dark">登出</button>
			</form>
		</div>
	</li>
		<li class="nav-item">
			<form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
				<button type="submit" class="nav-link btn btn-link text-dark">登出</button>
			</form>
		</li>
	}
	else
	{
		<li class="nav-item">
			<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">注册</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">登录</a>
		</li>
	}
</ul>