@page
@model CampusResourceSharingPlatform.Web.Areas.ControlPanel.Pages.Manage.Users.IndexModel
@{
	Layout = "Users/_Layout";
	ViewData["ActivePage"] = ManageNavPages.UsersIndex;
}
<div class="card mb-3">
	<div class="card-header">
		<h4><i class="fa fa-user" aria-hidden="true"></i> 用户列表 (总计&nbsp;@Model.Users.Count()&nbsp;用户)</h4>
	</div>
	<div class="card-body p-0">
		<div class="table-responsive">
			<table class="table">
				<thead>
				<tr>
					<th style="width:5%">ID</th>
					<th style="width:30%">用户名</th>
					<th style="width:10%">真实姓名</th>
					<th style="width:15%">学号</th>
					<th style="width:15%">联系方式</th>
					<th>操作</th>
				</tr>
				</thead>
				<tbody>
					@foreach (var u in Model.Users)
					{
						<tr>
							<th class="vertical-align-middle"> @u.Id.Split("-")[4] </th>
							<td class="vertical-align-middle">
								<span style="float: left; margin-right: 10px;">
									<img alt="image" style="max-width: 40px; height: auto;" src="@u.ProfilePhotoUrl" />
								</span>
								<strong>@u.NickName</strong><br />
								<small>@u.UserName</small>
							</td>
							@if (u.StudentIdentityConfirmed)
							{
								<td class="vertical-align-middle">@u.RealName</td>
								<td class="vertical-align-middle">@u.IdCardNo</td>
							}
							else
							{
								<td colspan="2" class="vertical-align-middle">未进行学生认证</td>
							}
							@if (u.PhoneNumberConfirmed)
							{
								<td class="vertical-align-middle">@u.PhoneNumber</td>
							}
							else
							{
								<td class="vertical-align-middle">未填写联系方式</td>
							}
							<td class="vertical-align-middle">
								<a asp-page="Profile" asp-route-id="@u.Id" class="btn btn-primary float-left">详细信息</a>
								<form class="float-left ml-2" asp-page-handler="DeleteUser" asp-route-id="@u.Id" method="post">
									<button type="submit" class="btn btn-danger" onclick="return confirm('确认删除？')">
										删除
									</button>
								</form>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>
