@page
@model CampusResourceSharingPlatform.Web.Areas.ControlPanel.Pages.Manage.Users.IndexModel
@{
	Layout = "Users/_Layout";
	ViewData["ActivePage"] = ManageNavPages.UsersIndex;
}
<h5>用户列表</h5>

<partial name="_StatusMessage" model="Model.StatusMessage" />

<table class="table table-hover">
	<thead >
	<tr>
		<th scope="col">用户ID</th>
		<th scope="col">用户名</th>
		<th scope="col">昵称</th>
		<th scope="col">真实姓名</th>
		<th scope="col">学号</th>
		<th scope="col">联系方式</th>
		<th scope="col">操作</th>
	</tr>
	</thead>
	<tbody>
	@foreach (var u in Model.Users)
	{
		<tr>
			<th scope="row">@u.Id</th>
			<td>@u.UserName</td>
			<td>@u.NickName</td>
			@if (u.StudentIdentityConfirmed)
			{
				<td>@u.RealName</td>
				<td>@u.IdCardNo</td>
			}
			else
			{
				<td colspan="2" >未进行学生认证</td>
			}
			@if (u.PhoneNumberConfirmed)
			{
				<td>@u.PhoneNumber</td>
			}
			else
			{
				<td>未填写联系方式</td>
			}
			<td>
				<a asp-page="Profile" asp-route-id="@u.Id" class="btn btn-primary float-left">详细信息</a>
				<form class="float-left ml-2" casp-page-handler="DeleteUser" asp-route-id="@u.Id" method="post">
					<button type="submit" class="btn btn-danger" onclick="return confirm('确认删除？')">
						删除
					</button>
				</form>
			</td>
		</tr>
	}
	</tbody>
</table>


