@using CampusResourceSharingPlatform.Model;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<link rel="stylesheet" href="/css/Manage/nav.css">

<ul class="nav nav-pills flex-column">
	<li class="user-avatar">
		<div class="user-header"><img class="user-avatar-img" src="@UserManager.GetUserAsync(User).Result.ProfilePhotoUrl" alt="Avatar of @User.Identity.Name"></div>
		<h4 class="user-email text-base text-black">
			@UserManager.GetUserAsync(User).Result.NickName
		</h4>
	</li>

	<li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="index" asp-page="../Index">Overview</a></li>
	<li class="nav-item"><a class="nav-link @ManageNavPages.RoleIndexNavClass(ViewContext)" id="role-index" asp-page="./Index">Role</a></li>
	<li class="nav-item"><a class="nav-link @ManageNavPages.UsersIndexNavClass(ViewContext)" id="user-index" asp-page="../Users/Index">Users</a></li>
</ul>