@page
@model CampusResourceSharingPlatform.Web.Areas.Posts.Pages.HireModel
@{
	Layout = "_Layout";
	ViewData["Title"] = "租借";
}
<h5>hire</h5>
<h4>@Model.HirePost.MissionName</h4>
<img src="@Model.HirePost.GoodsPhotoUrl" alt="Alternate Text" style="width: 200px;" />
<form method="post">
	<input type="hidden" name="PostId" value="@Model.PostId" />
	@if (Model.StudentIdentityConfirmed)
	{
		@if (Model.HirePost.PostUserId == Model.CurrentUserId)
		{
			<a class="btn btn-secondary" asp-page-handler="EditMission" asp-page="Hire" asp-area="Distribute" asp-route-postId="@Model.HirePost.Id">修改</a>
			<button type="submit" class="btn btn-warning" asp-page-handler="MakeMissionExpire">下架</button>
			<button type="submit" class="btn btn-danger" asp-page-handler="DeleteMission">任务</button>
		}
		else
		{
			if (Model.HirePost.IsAccepted)
			{
				if (Model.HirePost.AcceptUserId==Model.CurrentUserId)
				{
					<button type="submit" class="btn btn-primary" asp-page-handler="AbortMission" asp-route-posdId="@Model.HirePost.Id">不租了</button>
				}
				else
				{
					<button type="submit" class="btn btn-secondary" disabled="">已被租掉了</button>
				}
			}
			else
			{
				<button type="submit" class="btn btn-primary" asp-page-handler="AcceptMission" asp-route-posdId="@Model.HirePost.Id">租赁</button>
			}
		}
	}
</form>