@page
@model CampusResourceSharingPlatform.Web.Areas.Posts.Pages.SaleModel
@{
	Layout = "_Layout";
	ViewData["Title"] = "二手";
}
<h5>Sale</h5>
@Model.SalePost.GoodsName
<img src="@Model.SalePost.GoodsPhotoUrl" alt="Alternate Text" style="width: 200px;"/>
<form method="post">
	<input type="hidden" name="PostId" value="@Model.PostId" />
	@if (Model.StudentIdentityConfirmed)
	{
		@if (Model.SalePost.PostUserId == Model.CurrentUserId)
		{
			<a class="btn btn-secondary" asp-page-handler="EditMission" asp-page="Sale" asp-area="Distribute" asp-route-postId="@Model.SalePost.Id">修改</a>
			<button type="submit" class="btn btn-danger" asp-page-handler="DeleteMission">删除</button>
		}
		else
		{
			if (Model.SalePost.IsAccepted)
			{
				if (Model.SalePost.AcceptUserId==Model.CurrentUserId)
				{
					<button type="submit" class="btn btn-primary" asp-page-handler="AbortMission" asp-route-postId="@Model.SalePost.Id">不买了</button>
				}
				else
				{
					<button type="submit" class="btn btn-secondary" disabled="">已经卖掉啦</button>
				}
			}
			else
			{
				<button type="submit" class="btn btn-primary" asp-page-handler="AcceptMission" asp-route-postId="@Model.SalePost.Id">我要买</button>
			}
		}
	}
</form>