@model CampusResourceSharingPlatform.Web.Pages.IndexModel
<div class="card-deck">
	@if (Model.IndexPage.Hires.Count != 0)
	{
		@foreach (var hire in Model.IndexPage.Hires)
		{
			<div class="mb-2">
				<div class="card pill-card-item">
					<div style="height: 180px; overflow: hidden">
						<img class="card-img-top" style="height: 100%;object-fit: cover;" src="@hire.GoodsPhotoUrl" />
					</div>
					<div class="card-body">
						<h5 class="card-title"><a class="text-decoration-none" asp-area="Posts" asp-page="Hire" asp-route-postId="@hire.Id">闲置出租：@hire.GoodsName</a></h5>
						<p class="card-text"><a class="text-decoration-none text-reset" asp-area="Posts" asp-page="Hire" asp-route-postId="@hire.Id"> @hire.MissionNotes</a></p>
					</div>
					<div class="card-footer">
						<small class="text-muted">发布于 @hire.PostTime.ToLocalTime()</small>
					</div>
				</div>
			</div>
		}
	}
	else
	{
		<div class="text-center">
			现在还没有有效任务，等会儿再来看看吧
		</div>
	}
</div>