@model CampusResourceSharingPlatform.Web.Pages.IndexModel

<div class="card-deck">
	@if (Model.IndexPage.Expresses.Count != 0)
	{
		@foreach (var express in Model.IndexPage.Expresses)
		{
			<div class="mb-2">
				<div class="card pill-card-item">
					@* <img src="..." class="card-img-top" alt="..."> *@
					<svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
					<div class="card-body">
						<h5 class="card-title"><a class="text-decoration-none" asp-area="Posts" asp-page="TakeExpress" asp-route-postId="@express.Id">
							@express.ExpressCompany.CompanyName
							的包裹
						</a></h5>
						<p class="card-text">
							<a class="text-decoration-none text-reset small" asp-area="Posts" asp-page="TakeExpress" asp-route-postId="@express.Id">酬劳: @express.MissionReward 元，大约重 @express.Weight kg.</a><br />
							<a class="text-decoration-none text-reset small" asp-area="Posts" asp-page="TakeExpress" asp-route-postId="@express.Id">驿站位置: @express.YiZhanName</a>
						</p>
					</div>
					<div class="card-footer">
						<small class="text-muted">发布于 @express.PostTime.ToLocalTime()</small>
					</div>
				</div>
			</div>
		}
	}
	else
	{
		<div class="text-center">
			现在还没有有效任务，等会儿再来看看吧
		</div>
	}
</div>