@model CampusResourceSharingPlatform.Web.Models.MissionDetail

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MissionDetail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MissionName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MissionName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InvalidTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InvalidTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MissionDetails)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MissionDetails)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MissionReward)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MissionReward)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsAccepted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAccepted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AcceptTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AcceptTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MissionType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MissionType.Id)
        </dd >
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AcceptUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AcceptUser.Id)
        </dd >
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostUser.Id)
        </dd >
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
