@model IEnumerable<CampusResourceSharingPlatform.Web.Models.MissionDetail>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MissionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvalidTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MissionDetails)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MissionReward)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAccepted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcceptTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MissionType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcceptUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MissionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvalidTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MissionDetails)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MissionReward)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAccepted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcceptTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MissionType.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcceptUser.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostUser.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
