<ul class="nav nav-pills mb-3">
	<li class="nav-item">
		<a class="nav-link @UserCenterNavPages.IndexNavClass(ViewContext)" asp-page="/Index">总览</a>
	</li>
	<li class="nav-item">
		<a class="nav-link @UserCenterNavPages.TakeExpressNavClass(ViewContext)" asp-page="/TakeExpress">快递</a>
	</li>
	<li class="nav-item">
		<a class="nav-link @UserCenterNavPages.PurchaseNavClass(ViewContext)" asp-page="/Purchase">代买</a>
	</li>
	<li class="nav-item">
		<a class="nav-link @UserCenterNavPages.FleaMarketNavClass(ViewContext)"  asp-page="/FleaMarket">跳蚤市场</a>
	</li>
	<li class="nav-item">
		<a class="nav-link @UserCenterNavPages.HireNavClass(ViewContext)" asp-page="/Hire">出租</a>
	</li>
</ul>