@page
@model CampusResourceSharingPlatform.Web.Areas.i.Pages.IndexModel
@{
	Layout = "_Layout";
	ViewData["Title"] = "Dashboard";
	ViewData["ActivePage"] = UserCenterNavPages.Index;
}

<h4>Dashboard</h4>

快递需求：
<br />
你目前还有 @Model.Count.TakeExpress.ActivePostCount 个发布的代取快递的需求等待被人领取，有 @Model.Count.TakeExpress.InvalidPostCount 个无人理会过期了。
<br />
<br />
代买需求：
<br />
你目前还有 @Model.Count.Purchase.ActivePostCount 个发布的代买需求等待被人领取，有 @Model.Count.Purchase.InvalidPostCount 个无人理会过期了。
<br />
<br />
二手出售：
<br />
你目前还有 @Model.Count.FleaMarket.ActivePostCount 个发布的二手出售的信息，有 @Model.Count.FleaMarket.InvalidPostCount 个无人理会过期了。
<br />
<br />

租赁：
<br />
你目前还有 @Model.Count.HirePost.ActivePostCount 个发布的租赁信息，有 @Model.Count.HirePost.InvalidPostCount 个无人理会过期了。
<br />